@(assembly1SettingsForm: Form[Assembly1Settings], runId: String)(implicit flash: Flash, lang: Lang, request: RequestHeader)
@import helper._
@import helper.twitterBootstrap._

@main(Messages("assembly1.form"), runId) {
    <h2>@Messages("assembly1.form")</h2>

    @form(action = routes.Assembly1.save()) {
        <fieldset>
            <legend>
            @Messages("assembly1.form")
            </legend>

            <h3>Base Position</h3>
            @inputText(assembly1SettingsForm("basePos.posName"))
            @inputText(assembly1SettingsForm("basePos.c1"))
            @inputText(assembly1SettingsForm("basePos.c2"))
            @inputText(assembly1SettingsForm("basePos.equinox"))

            <h3>AO Position</h3>
            @inputText(assembly1SettingsForm("aoPos.c1"))
            @inputText(assembly1SettingsForm("aoPos.c2"))
            @inputText(assembly1SettingsForm("aoPos.equinox"))
        </fieldset>
        <p>
            @*<input type="submit" class="btn primary" value='@Messages("assembly1.refresh")'>*@
            <input type="submit" class="btn primary" value='@Messages("assembly1.submit")'>
        </p>
    }
}
