@(title: String, runId: String)(content: Html)(implicit flash: Flash, lang: Lang, request: RequestHeader)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" type="text/css" media="screen"
        href='@routes.Assets.at("stylesheets/bootstrap.css")'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

        @* Script used to update the command status via Websocket *@
        <script type="text/javascript">
            $(function() {
                var ws = new WebSocket("@routes.Assembly1.status(runId).webSocketURL()");
                ws.onmessage = function (msg) {
                    $('#command-status').text(msg.data)
                };
            })
        </script>

    </head>
    <body>
        <div class="screenshot">

            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="@routes.Application.index()">
                        @Messages("application.name")
                        </a>
                    </div>
                </div>
            </div>

            <div class="container">
                @content
                @if(flash.get("success").isDefined){
                    <div class="alert alert-success">
                    @flash.get("success"), Status: <strong><span id="command-status"></span></strong>
                    </div>
                }

                @if(flash.get("error").isDefined){
                    <div class="alert alert-error">
                    @flash.get("error")
                    </div>
                }
            </div>
        </div>
    </body>
</html>
